[Unit]
Description=Run restic backups
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/martin/bin/backup

[Install]
WantedBy=default.target
